<div class="jumbotron">

  <% form_tag posts_path, :method => 'get', :class => 'pull-left' do %>
    <p>search here
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>
  
    <div class="gravatar pull-right">
      <%= image_tag gravatar_for('abdishwak@gmail.com') %>
      <p>Wali Ali</p> 
    </div>
 
</div>