<div class="jumbotron">
  
    <div class="gravatar pull-right">
      <%= image_tag gravatar_for('abdishwak@gmail.com') %>
      <p>Wali Ali</p> 
    </div>
    <div class="pull-left">
        <h4>
          Welcome
      </h4>
    </div>
 
</div>