<div class="jumbotron">
  <div class="container">
    <div class="gravatar pull-right">
      <%= image_tag gravatar_for('abdishwak@gmail.com') %>
      <h4>Wali Ali</h4> 
    </div>
    <div class="pull-left">
        <h4>
          Welcome to All-Things Blogger where we live life in the fast lane and crash and burn. 
          <p>And get going the next morning!</p>
      </h4>
    </div>
  </div>
</div>