/* this is my custom styling */

@import "../bootstrap.css";

body { 
	background-color: #eeffee; 
	color: #333; 
	font-family: verdana, arial, helvetica, sans-serif; 
	font-size: 15px; 
	line-height: 18px; 
}

.navbar {
	background: #7C0556;
	margin-bottom: 5px;
}

.jumbotron {
	background: #e1e5e8;
	border:5px solid gray;
	padding-top: 0px;
	height: 115px;
	margin-bottom: 10px;
}

.jumbotron div h4 {
	font-weight: bold;
	color: #9A1CD5;
	text-align: center;
	position: fixed;
	float: left;
}

.right-side {
	background: #e1e5e8;
	height: 2000px;
	margin-bottom: 10px;
	border:5px solid gray;
}

.right-side h4 {
	color: #0C0B0B;
}

.right-side p a {
	color: #215FE2;
}
