/* this is my custom styling */

@import "../bootstrap.css";

body { 
	background-color: #ffffff; 
	color: #333; 
	font-family: verdana, arial, helvetica, sans-serif; 
	font-size: 15px; 
	line-height: 18px; 
}

.navbar {
	background: #7C0556;
	margin-bottom: 5px;
	border-radius: 5px;
}

.jumbotron {
	background: #050504;
	border: 3px solid #15B8EC;
	padding-top: 0px;
	height: 115px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.jumbotron div h4 {
	font-weight: bold;
	color: #9A1CD5;
	text-align: center;
	position: fixed;
	float: left;
}

.right-side {
	background: #0BC7A1;
	margin-bottom: 10px;
	border: 3px solid #15B8EC;
	height: 590px;
	position: relative;
	border-radius: 5px;
}

.right-side h4 {
	color: #0C0B0B;
}

.right-side p a {
	color: #215FE2; 
	font-size: 15px;
}

.title {
	width: 750px;
	border: 3px solid #15B8EC;
	border-radius: 5px;
}

.content {
	border: 3px solid #15B8EC;
	border-radius: 5px;


}

.commenter {
	width: 390px;
	border: 3px solid gray;
}
.profile-name {
	color: #fff;
}

.date {
	color: #6E6E6E;
	font-size: 1.0em;
	margin: 4px 0;
}
